# unity ignore dir
/[Bb]in/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/

# mac ignore file
.DS_Store
 
# unity ignore file
*.vscode
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp
 
# need include the meta of file
!*.*.meta
